@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&family=Zen+Antique&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

i {
  color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

h2,
h3 {
  font-weight: 540;
}

h2 {
  font-size: 3rem;
}

h6 {
  color: #ec330e;
  font-weight: 420;
  font-size: 2rem;
}

section + section {
  padding-top: 60px;
  padding-bottom: 100px;
}

.card-effect {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 25px;
  transition: all 0.3s ease;
}
.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.toppage {
  position: relative;
  z-index: 2;
}
.toppage .toppage-box {
  background-color: #ccc;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.toppage .toppage-box.active {
  position: absolute;
  right: 300px;
  z-index: -2;
}
.toppage .toppage-box.active::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.toppage .toppage-box header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-right: 35px;
}
.toppage .toppage-box header .up-btn,
.toppage .toppage-box header .mute-btn {
  font-size: 3rem;
  cursor: pointer;
}
.toppage .toppage-box header .up-btn {
  display: none;
}
.toppage .toppage-box header .up-btn.muted {
  display: block;
}
.toppage .toppage-box header .mute-btn {
  display: block;
}
.toppage .toppage-box header .mute-btn.muted {
  display: none;
}
.toppage .toppage-box header .toggle {
  background: url(/images/menu.png);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toppage .toppage-box header .toggle.active {
  background: url(/images/close.png);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toppage .toppage-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.toppage .toppage-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1e02;
  mix-blend-mode: overlay;
}
.toppage .toppage-box .scrolldown4 {
  /*=== 9-1-4 矢印が動いてスクロールを促す  ====*/
  /*スクロールダウン全体の場所*/
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 2%;
  right: 50%;
  /*矢印の動き1.5秒かけて永遠にループ*/
  animation: arrowmove 1.5s ease-in-out infinite;
  /* 矢印の描写 */
  /*Scrollテキストの描写*/
  /*下からの距離が変化して全体が下→上→下に動く*/
}
.toppage .toppage-box .scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: -3px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #eee;
  transform: skewX(-15deg);
}
.toppage .toppage-box .scrolldown4:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 50px;
  background: #eee;
}
.toppage .toppage-box .scrolldown4 span {
  /*描画位置*/
  position: absolute;
  left: -20px;
  bottom: 10px;
  /*テキストの形状*/
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: 1%;
  }
}
.toppage .title {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
}
.toppage .title h1 {
  font-size: 8rem;
  font-weight: 1000;
  text-shadow: #000 1px 3px 6px;
  letter-spacing: -0.3rem;
}
.toppage .copyright {
  position: absolute;
  top: 50%;
  left: -3%;
  transform: translateY(-50%);
  transform: rotate(90deg);
  transform-origin: center;
}
.toppage .copyright p {
  font-size: 0.5rem;
  font-weight: 200;
}
.toppage .sns {
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
}
.toppage .sns ul {
  display: block;
  flex-direction: column !important;
}
.toppage .sns ul li {
  padding-bottom: 1rem;
}
.toppage .sns ul li a {
  display: inline-block;
  transition: all 0.25s ease;
}
.toppage .sns ul li a:hover {
  transform: translateY(-4px);
}
.toppage .sns ul li a i {
  font-size: 2rem;
}
.toppage .sns ul li a i:hover {
  color: #ec330e;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /*現在地とhoverの設定*/
}
.menu.active {
  z-index: 2;
}
.menu ul {
  font-size: 24px;
}
.menu ul li {
  margin-bottom: 1rem;
}
.menu ul li a {
  color: #111;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}
.menu ul li a:hover {
  color: #ec330e;
}
.menu .gnavi li a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}
.menu .gnavi li a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 5%;
  /*線の形状*/
  width: 90%;
  height: 2px;
  background: #ec330e;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: left top;
  /*左上基点*/
  z-index: -1;
}
.menu .gnavi li.current a::after,
.menu .gnavi li a:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}

.biography {
  min-height: 60rem;
  background-image: url(/images/oneokrock14.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.biography .layer {
  transform: translateY(3rem);
  background-color: rgba(0, 0, 0, 0.8);
  height: 55rem;
}
.biography h2 {
  font-size: 4rem;
}
.biography p {
  font-size: 2rem;
  line-height: 3.4rem;
}

.team {
  background: rgb(24, 1, 4);
  background: linear-gradient(90deg, rgb(24, 1, 4) 0%, rgb(85, 19, 3) 52%, rgb(233, 59, 5) 100%);
}
.team .heading h2,
.team .heading p {
  color: #fff;
}
.team .team-member img {
  width: 125px;
  height: 125px;
  border-radius: 100px;
  object-fit: cover;
}
.team .team-member .insta-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .team-member .insta-icon a {
  width: 36px;
  height: 36px;
  background-color: #0d6efd;
  border: 1.3px solid #0d6efd;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-left: 5px;
  transition: all 0.3s ease;
}
.team .team-member .insta-icon a:hover {
  color: #0d6efd;
  background-color: transparent;
}
.team .team-member .insta-icon a:hover i {
  color: #0d6efd;
}

.news {
  background: rgb(24, 1, 4);
  background: linear-gradient(90deg, rgb(24, 1, 4) 0%, rgb(85, 19, 3) 52%, rgb(233, 59, 5) 100%);
}
.news .heading h2,
.news .heading p {
  color: #fff;
}
.news .news-item {
  position: relative;
  overflow: hidden;
  height: 66rem;
}
.news .news-item img {
  width: 100%;
  height: 37.2rem;
  margin: 0;
  object-fit: cover;
  border-radius: 10px;
}
.news .news-item h5 {
  font-size: 2rem;
}
.news .news-item p {
  font-size: 1.3rem;
}
.news .news-item a {
  font-size: 1.2rem;
  position: absolute;
  bottom: 1.5rem;
  left: 4rem;
  width: 80%;
}
.news .news-item:hover .icon-box {
  background-color: #fff;
}
.news .news-item:hover .icon-box i {
  color: #0d6efd;
}
.news .news-item::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  background: rgb(251, 248, 198);
  background: linear-gradient(90deg, rgba(251, 248, 198, 0.4) 0%, rgba(164, 233, 147, 0.4) 37%, rgba(186, 195, 122, 0.4) 68%, rgba(242, 156, 130, 0.4) 100%);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: -1;
}
.news .news-item:hover::after {
  opacity: 1;
  top: 0;
}
.news .news-item .icon-box {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  background-color: #0d6efd;
  border-radius: 100px;
  flex: none;
}

.rest {
  width: 100%;
  height: 25rem;
  transform: skewY(-10deg);
  z-index: 10000;
}
.rest .rest-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: skewY(10deg);
}

.music {
  padding: 0;
  height: 100%;
}
.music .music_wr {
  position: relative;
  width: 100vw;
  height: 200vh;
  overflow: hidden;
}
.music .music_wr video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
}
.music .music_wr::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.music .music_wr .music-ttl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  z-index: 1;
}
.music .music_wr .music-ttl section {
  padding: 0;
}
.music .music_wr .music-ttl .disc {
  padding-top: 9rem;
}
.music .music_wr .music-ttl .disc .disc-item {
  position: relative;
  overflow: hidden;
  width: 10%;
  margin-left: 1.2rem;
  margin-bottom: 0.7rem;
}
.music .music_wr .music-ttl .disc .disc-item:hover img {
  transform: scale(1.1);
}
.music .music_wr .music-ttl .disc .disc-item:hover .overlay {
  opacity: 1;
}
.music .music_wr .music-ttl .disc .disc-item a > img {
  transition: all 0.25s ease;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.music .music_wr .music-ttl .disc .disc-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 67, 104, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #fff;
}
.music .music_wr .music-ttl .disc .disc-item .overlay h4 {
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
}
.music .music_wr .music-ttl .disc .disc-item .overlay p {
  text-align: center;
}

/* contact section */
.contact p {
  font-size: 1.5rem;
}
.contact form input.form-control {
  height: 56px;
}
.contact form .form-control {
  border: transparent;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 1.5rem;
}
.contact form .btn-sub .btn {
  padding: 14px 18px;
  border-width: 2px;
  border-radius: 0;
  font-size: 1.5rem;
}

@media (max-width: 1400px) {
  .news .news-item {
    height: 65rem;
  }
  .news .news-item img {
    height: 30rem;
  }
  .news .news-item h5 {
    font-size: 2rem;
  }
  .news .news-item p {
    font-size: 1.5rem;
  }
  .news .news-item a {
    font-size: 1.2rem;
    left: 3.5rem;
  }
}
@media (max-width: 1199px) {
  .toppage .toppage-box .title {
    left: 22%;
  }
  .toppage .toppage-box .title h1 {
    font-size: 9.5rem;
    letter-spacing: -0.4rem;
  }

  .biography {
    min-height: 60rem;
  }
  .biography .layer {
    transform: translateY(3rem);
    height: 55rem;
  }
  .biography h4 {
    font-size: 4rem;
  }
  .biography p {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  .news .news-item {
    height: 63rem;
  }
  .news .news-item img {
    height: 25rem;
  }
  .news .news-item h5 {
    font-size: 2.1rem;
  }
  .news .news-item p {
    font-size: 1.4rem;
  }
  .news .news-item a {
    font-size: 1.2rem;
    left: 3rem;
  }
}
@media (max-width: 992px) {
  .toppage .toppage-box .title {
    left: 21%;
  }
  .toppage .toppage-box .title h1 {
    font-size: 7.5rem;
  }

  .biography {
    min-height: 60rem;
  }
  .biography .layer {
    transform: translateY(3rem);
    height: 55rem;
  }
  .biography p {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  .news .news-item {
    height: 70rem;
  }
  .news .news-item img {
    height: 30rem;
  }
  .news .news-item h5 {
    font-size: 2.2rem;
  }
  .news .news-item p {
    font-size: 1.6rem;
  }
  .news .news-item a {
    font-size: 1.4rem;
    left: 4rem;
  }
}
@media (max-width: 768px) {
  .toppage .toppage-box .title {
    left: 23%;
  }
  .toppage .toppage-box .title h1 {
    font-size: 5rem;
  }

  .biography {
    min-height: 60rem;
  }
  .biography .layer {
    transform: translateY(3rem);
    height: 55rem;
  }
  .biography h2 {
    font-size: 4rem;
  }
  .biography p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .news .news-item {
    height: 55rem;
  }
  .news .news-item img {
    height: 20rem;
  }
  .news .news-item h5 {
    font-size: 1.7rem;
  }
  .news .news-item p {
    font-size: 1.3rem;
  }
  .news .news-item a {
    font-size: 1.2rem;
    left: 3rem;
    padding: 0.8rem 0 !important;
  }
}
@media (max-width: 576px) {
  .toppage .toppage-box header {
    padding-right: 4px;
  }
  .toppage .toppage-box header .toggle {
    z-index: 100;
  }
  .toppage .toppage-box .title {
    left: 25%;
  }
  .toppage .toppage-box .title h1 {
    font-size: 4rem;
    letter-spacing: -0.2rem;
  }
  .toppage .toppage-box .copyright {
    left: -11%;
  }
  .toppage .toppage-box .sns {
    right: 2rem;
  }

  .biography {
    min-height: 48rem;
  }
  .biography .layer {
    transform: translateY(0rem);
    height: 48em;
    padding: 0 2rem;
  }
  .biography h6 {
    font-size: 1.7rem;
  }
  .biography h2 {
    font-size: 3rem;
  }
  .biography p {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .news .news-item {
    height: 67rem;
  }
  .news .news-item img {
    height: 35rem;
  }
  .news .news-item h5 {
    font-size: 2rem;
  }
  .news .news-item p {
    font-size: 1.6rem;
  }
  .news .news-item a {
    font-size: 1.5rem;
    left: 5rem;
  }
}
@media (max-width: 441px) {
  .toppage .toppage-box header {
    padding-right: 1px;
  }
  .toppage .toppage-box .title {
    left: 27%;
  }
  .toppage .toppage-box .title h1 {
    font-size: 3rem;
  }
  .toppage .toppage-box .copyright {
    left: -16%;
  }
  .toppage .toppage-box .sns {
    right: 1.5rem;
  }

  .biography {
    min-height: 56rem;
  }
  .biography .layer {
    transform: translateY(0rem);
    height: 56em;
    padding: 0 2rem;
  }
  .biography h2 {
    font-size: 3rem;
  }
  .biography p {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .news .news-item {
    height: 60rem;
  }
  .news .news-item img {
    height: 30rem;
  }
  .news .news-item h5 {
    font-size: 1.8rem;
  }
  .news .news-item p {
    font-size: 1.2rem;
  }
  .news .news-item a {
    font-size: 1.3rem;
    left: 3rem;
  }
}/*# sourceMappingURL=style.css.map */