@charset "utf-8";
/*
  YouTube 初回表示軽量化スクリプト
  Copyright Rectus Inc, 2020/05/11 Ver 0.04
  https://www.rectus.co.jp/
 */

.yt {
  position: relative;
}
.yt_play {
  position: absolute;
}
.yt_play:hover {
  cursor: pointer;
}
.yt_play::before {
  /* YouTubeアイコン */
  position: absolute;
  background: url(/images/yt_icon_mono_light.png);
  content: "";
  background-size: 100%;
  width: 70px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  transition: 0.5s;
}

.yt_play:hover::before {
  /* YouTubeアイコン */
  cursor: pointer;
  background-image: url(/images/yt_icon_rgb.png);
}
